/* сброс стилей браузера */
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
 height: 100%;/* проверить */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  font-family: 'Gotham Pro Regular';
  min-height: 100vh;
  scroll-behavior: smooth;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, button, textarea, select {
 font: inherit;
}
input:focus {
 outline: none!important;
 outline-offset: 0;
}
input[type="checkbox"] {
 display: none;
}
input[type="radio"] {
 display: none;
}
::selection {
 background-color: #ffff8e;
 color: #000;
}
/* конец кода сброса стилей браузера */
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.group:before,
.group:after {
    content:'';
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom:1;
}
h1, h2 {
 font-family: 'Gotham Pro Black';
}
h3, h4 {
 font-family: 'Gotham Pro Bold';
}
h1 {
 font-size: 27px;
 line-height: 35px;
}
h2 {
 font-size: 20px;
 line-height: 30px;
 color: #000;
}
h3 {
 font-size: 18px;
 line-height: 25px;
}
h4 {
 font-size: 16px;
}
p {
 font-size: 15px;
}
a {
 text-decoration: none;
 color: #4285f4;
}
img {
 max-width: 100%;
 display: block;
}
.container {
 max-width: 92%;
 margin: 0 auto;
}
.main-container {
 max-width: 92%;
 margin: 0 auto;
}
.shadow:hover {
-webkit-box-shadow: 0 6px 16px rgba(226, 226, 226, 0.75);
-moz-box-shadow: 0 6px 16px rgba(226, 226, 226, 0.75);
 box-shadow: 0 6px 16px rgba(226, 226, 226, 0.75);
}
.header {
 opacity: 0;
}
.headhesive {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 opacity: 1;
 padding: 8px; 
 background-color: transparent;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.08);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.08);
 box-shadow: 0 1px 4px rgba(0,0,0,0.08);
 height: auto;
 z-index: 10;
-webkit-transition: 0.7s;
-moz-transition: 0.7s;
-o-transition: 0.7s;
-ms-transition: 0.7s;
 transition: 0.7s;
}
.headhesive--stick {
 background-color: rgba(0,0,0,0.7);
 box-shadow: none;
 padding: 12px;
}
.headhesive--stick .logo-phone-mobile {
 top: 16px;
-webkit-transition: 0.7s;
-moz-transition: 0.7s;
-o-transition: 0.7s;
-ms-transition: 0.7s;
 transition: 0.7s;
}
.headhesive--stick .one,
.headhesive--stick .two,
.headhesive--stick .three {
 background-color: #fff;
}
.headhesive--stick .logo-mobile {
 width: 45px;
 top: 0;
-webkit-transition: 0.7s;
-moz-transition: 0.7s;
-o-transition: 0.7s;
-ms-transition: 0.7s;
 transition: 0.7s;
} 
.menu-screen {
 display: none;
}
.logo-mobile {
 width: 52px;
 max-width: 100%;
 height: auto;
 display: block;
 margin: 0 auto 4px;
 position: relative;
 top: 4px;
-webkit-transition: 0.7s;
-moz-transition: 0.7s;
-o-transition: 0.7s;
-ms-transition: 0.7s;
 transition: 0.7s;
}
#object {
 visibility: hidden;
}
.puls {
	animation-name: puls;
	-webkit-animation-name: puls;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
 
    visibility: visible !important;
}
@keyframes puls {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1.1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}
@-webkit-keyframes puls {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1.1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}
.floating {
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
 
    visibility: visible !important;
}
@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(10%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}
@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(10%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
.logo-phone {
 position: absolute;
 top: 22px;
 right: 12px;
 width: 30px;
}
.tick {
 display: none;
}
.hidden-menu {
 display: block;
 position: fixed;
 top: 0;
 left: -320px;
 margin: 0;
 padding: 0;
 width: 320px;
 height: 100%;
 background-color: #fcfcfc;
 overflow: auto;
-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 0 5px rgba(0,0,0,.3);
-moz-box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 0 5px rgba(0,0,0,.3);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 0 5px rgba(0,0,0,.3);
-webkit-transition: left .2s;
-moz-transition: left .2s;
-o-transition: left .2s;
-ms-transition: left .2s;
 transition:  left .2s;
 z-index: 2;
 -webkit-transform: translateZ(0);
 -webkit-backface-visibility: hidden;
}
.hidden-menu li > a {
 display: block;
 color: #333;
 text-transform: uppercase;
 padding: 10px 0 10px 10px;
 font-size: 22px;
}
.hidden-menu li > a:last-child:hover {
 background-color: #8fd3f4;
-webkit-transition: color .2s linear, padding-left .3s linear;
-moz-transition: color .2s linear, padding-left .3s linear;
-o-transition: color .2s linear, padding-left .3s linear;
-ms-transition: color .2s linear, padding-left .3s linear;
 transition: color .2s linear, padding-left .3s linear;
 color: #fff;
 padding-left: 20px;
}
.first-item-menu {
 background-color: #fede00;
 margin-top: 100px;
}
.hidden-menu .link-one {
 background-color: #fff59d;
 color: #8c8e8c;
 text-transform: none;
 font-size: 16px;
}
.link-hidden {
 display: none;
 background-color: #f8f8f8;
}
.link-hidden > a {
 display: block;
 color: inherit;
 padding: 10px 0 10px 25px;
 font-size: 14px;
}
.arrow-down::after {
 content: "\f107";
 font-family: "FontAwesome";
 margin: -35px 10px 0 0;
 float: right;
 color: #fff;
 cursor: pointer;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-o-transition: all .2s linear;
-ms-transition: all .2s linear;
 transition: all .2s linear;
}
input:checked + .arrow-down::after {
 content: "\f00d";
 font-family: "FontAwesome";
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
 transform: rotate(90deg);
}
input:checked ~ .link-hidden {
 display: block;
}
.btn-menu {
 position: fixed;
 top: 20px;
 left: 10px;
 cursor: pointer;
-webkit-transition: left .23s;
-moz-transition: left .23s;
-o-transition: left .23s;
-ms-transition: left .23s;
 transition: left .23s;
 z-index: 3;
 width: 25px;
 transform: translateZ(0);
 -webkit-backface-visibility: hidden;
}
.btn-menu span {
 display: block;
 position: relative;
 height: 2px;
 background-color: #000;
 margin: 5px 0 0;
-webkit-transition: all .1s linear .23s;
-moz-transition: all .1s linear .23s;
-o-transition: all .1s linear .23s;
-ms-transition: all .1s linear .23s;
 transition: all .1s linear .23s;
}
.hidden-menu-tick:checked ~ .btn-menu {
 left: 270px;
}
.hidden-menu-tick:checked ~ .hidden-menu {
 left: 0;
}
.hidden-menu-tick:checked ~ .bg > .logo-mobile {
 left: 160px;
}
.hidden-menu-tick:checked ~ .bg > .logo-phone {
 display: none;
}
.hidden-menu-tick:checked ~ .btn-menu .one {
 top: 7px;
 background-color: #4285f4;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
.hidden-menu-tick:checked ~ .btn-menu .two {
 opacity: 0;
}
.hidden-menu-tick:checked ~ .btn-menu .three {
 top: -7px;
 background-color: #4285f4;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.row {
 background-color: #fcfcfc;
}
.btn {
 display: inline-block;
 color: #fff;
 font-size: 15px;
 font-weight: 400;
 line-height: 64px;
 text-align: center;
}
.btn-primary {
 min-width: 100%;
 background-color: #0053d3;
 border: 0 solid #898989;
 margin-bottom: 40px;
}
.btn-primary:hover {
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
 box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.btn-promotion {
 min-width: 100%;
 color: #000;
 height: 64px;
 border: 1px solid #999;
 background-color: #fff;
 cursor: pointer;
}
.btn-work {
 min-width: 100%;
 background-color: #0053d3;
 margin-bottom: 40px;
}
.btn-promotion:hover,
.btn-work:hover {
 color: #fff;
 border: none;
 background-color: #3f77e4;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
 box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.btn-arrow,
.arrow {
 width: 25px; 
 display: inline-block;
 vertical-align: middle;
 position: relative;
}
.btn-arrow {
 left: 15px;
-webkit-transition: left .3s linear;
-moz-transition: left .3s linear;
-o-transition: left .3s linear;
-ms-transition: left .3s linear;
 transition: left .3s linear;
}
.arrow {
 left: 0;
-webkit-transition: left .3s linear;
-moz-transition: left .3s linear;
-o-transition: left .3s linear;
-ms-transition: left .3s linear;
 transition: left .3s linear;
}
.btn-link {
 display: none;
 font-size: 18px;
 font-weight: 400;
 line-height: 26px;
 text-align: center;
}
.cases__link {
 color: #fff;
 padding: 10px 0;
}
.btn-modal {
 background-color: #0053d3;
 min-width: 100%;
 border: 0;
 outline: none;
 display: block;
 margin: 0 auto;
 padding: 15px 30px;
 line-height: 1.5em;
}
.btn-modal:hover {
 background-color: #0086fa;
}
.cases__link:hover .btn-arrow {
 left: 30px;
}
.btn-link:hover .btn-arrow {
 left: 30px;
}
.btn-link:hover {
 color: #8fd3f4;
}
.services-body__arrow:hover .arrow {
 left: 15px;
}

/* Main-card-side */

.main-text__header {
 margin: 80px 0 20px 0;
}
.main-border {
 width: 75px;
 height: 2px;
 background-color: #fede00;
 display: block;
}
.main-text__primary {
 margin: 23px 0 25px 0;
 font-size: 18px;
 line-height: 25px;
}

/* Заявка на услуги */

.request {
 padding: 50px 0;
}
.request-title {
 text-align: center;
}
.promotion {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
 flex-direction: column;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
 align-items: center;
 max-width: 100%;
 margin: 25px auto 0;
}
.promotion-item {
 width: 95%;
 margin-bottom: 25px;
 border-radius: 3px;
 background-color: #fff;
 padding: 20px;
 color: #000;
 border: 1px solid #ececec;
}
.promotion-item:last-child {
 margin-bottom: 0;
}
.promotion__title {
 font-weight: 700;
 margin: 18px 0;
}
.promotion__text-header {
 margin-bottom: 21px;
}
.promotion__text-footer {
 margin-top: 20px;
}
.sum-promotion {
 position: relative;
 width: 85px;
 height: 85px;
 background-color: #0053d3;
 color: #fff;
 border-radius: 50%;
 text-align: center;
 margin: 0 auto;
 line-height: 21px;
}
.sum {
 position: absolute;
 top: 50%;
 left: 50%;
 font-weight: 800;
-ms-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
}
.toggle-on {
 margin-top: 15px;
 color: #878787;
}
.toggle-on__text {
 font-size: 14px;
 color: #878787;
}
.toggle-on__text::before,
.toggle::before {
 font-family: "FontAwesome";
 color: #fede00;
 margin-right: 9px;
 font-size: 14px;
}
.toggle-on__text::before {
 content: "\f111"; 
 vertical-align: middle;
}
.toggle::before {
 content: "\f1db"; 
 cursor: pointer;
}
.promotion-item:hover .sum-promotion {
 background-color:#4285f4;
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
 box-shadow: 0 2px 4px rgba(0,0,0,0.25);
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
 transition: 0.6s;
}

/* Наши услуги */

.services {
 padding: 50px 0;
 margin: 0 auto;
 max-width: 92%;
}
.services-block {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-flex-direction: column;
-moz-flex-direction: column;
-webkit-flex-direction: column;
 flex-direction: column;
-ms-align-items: center;
-moz-align-items: center;
-webkit-align-items: center;
 align-items: center;
}
.services-title {
 text-align: center;
 padding-bottom: 25px;
}
.services-item {
 margin-top: 25px;
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-flex-flow: column;
-moz-flex-flow: column;
-webkit-flex-flow: column;
 flex-flow: column;
-webkit-box-shadow: 0 7px 6px rgba(226, 226, 226, 0.32);
-moz-box-shadow: 0 7px 6px rgba(226, 226, 226, 0.32);
 box-shadow: 0 7px 6px rgba(226, 226, 226, 0.32);
}
.services-item__header {
 background-color: #f8f8f8; 
 padding: 40px 0 33px 0
}
.services-item__header-img {
 margin: 0 auto;
}
.services-item__body-title {
 font-weight: 500;
 line-height: 31px;
 padding: 20px 0 0 20px;
 margin-bottom: 24px;
 font-size: 18px;
}
.services-item__body-text {
 color: #999;
 font-weight: 400;
 line-height: 26px;
 padding: 0 5px 20px 20px;
}
.services-body__arrow {
 display: inline-block;
 padding-left: 20px;
 margin-top: auto;
 margin-bottom: 23px;
}

/* Цитата + комментарий */

.quote-review {
 padding: 50px 0 30px 0;
}
.quote {
 padding-bottom: 50px; 
}
.quote__img {
 width: 54px;
 margin: 0 auto;
 padding-bottom: 20px;
}
.quote__text {
 text-align: center;
 font-style: italic;
 color: #373737;
}
.quote__fill {
 background-color: #fede00;
 display: inline-block;
 padding: 2px 0;
}
.review-slider {
 max-width: 100%;
 margin: 0 auto;
}
.review-item {
 color: #878787;
 border: 1px solid #f8f8f8;
 margin: 20px 10px;
 background-color: #fff;
}
.review-item:hover {
 border: 1px solid transparent;
 color: #373737;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12),.3s -moz-transform cubic-bezier(.155,1.105,.295,1.12),.3s -o-transform cubic-bezier(.155,1.105,.295,1.12);
}
.review-block {
 position: relative;
}
.review-img {
 width: 100%;
}
.review-body {
 padding: 20px 0px 20px 20px;
}
.body-title {
 display: none;
}
.body-text {
 font-size: 14px;
 line-height: 26px;
}
.body-link {
 position: absolute;
 display: block;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
}

/* С вами работает Евгений Тридчиков */

.work {
 padding: 50px 0 0 0;
 max-width: 92%;
 margin: 0 auto;
}
.work-text {
 margin: 32px 0 47px 0;
 color: #393939;
 font-size: 16px;
}
.work-img {
 display: none;
}

/* footer */

.primary-footer {
 background-color: #0086fa;
}
.messenger {
 text-align: center;
 background-color: #f9f9f9;
 padding: 50px 0 20px;
 -webkit-border-radius: 0 0 85% 85% / 40%;
 -moz-border-radius: 0 0 85% 85% / 40%;
 border-radius: 0 0 85% 85% / 40%;
}
.messenger-icon {
 margin: 30px 0;
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-justify-content: space-around;
-moz-justify-content: space-around;
-webkit-justify-content: space-around;
 justify-content: space-around;
}
.link-footer {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-flex-direction: column;
-moz-flex-direction: column;
-webkit-flex-direction: column;
 flex-direction: column;
 padding: 35px 0;
}
.site-link, .link-info {
 text-decoration: none;
 display: block;
 font-size: 12px;
 color: #fff;
 padding: 6px 6px 6px 0;
}
.site-link:focus {
 color: #fede00;
}
.site-link::before {
 font-family: "FontAwesome"; 
 content: "\f061"; 
 font-size: 12px;
 color: #fff;
 margin-right: 10px;
}
.link-info::before {
 font-family: "FontAwesome";
 content: "\f0e0";
 margin-right: 10px;
 font-size: 13px;
}
.link-info:first-of-type {
 cursor: auto;
 margin-top: 15px;
}
.link-info:last-of-type {
 cursor: auto;
}
.link-info:first-of-type::before {
 content: "\f095";
} 
.link-info:nth-child(3)::before {
 color: #fff;
 content: "\f041";
}
.link-info:nth-child(4)::before {
 content: "\f017";
}
.footer-politics {
 padding: 5px 0;
 font-size: 11px;
 border-top: 1px solid #e1dddd; 
 text-align: center;
}
.link-politics {
 display: block;
 color: #fff;
 margin: 7px 0;
}
.link-politics:first-child {
 cursor: auto;
}
.link-politics:nth-child(2) {
 color: #fede00;
}
.link-politics:nth-child(3) {
 display: none;
}

/* Modal-form */

.modal-window {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: center;
 -ms-justify-content: center;
 -moz-justify-content: center;
 justify-content: center;
 -webkit-align-items: center;
 -ms-align-items: center;
 -moz-align-items: center;
 align-items: center;
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 bottom: 0px;
 z-index: 999;
 background-color: rgba(0,0,0,0.7);
 opacity: 0;
 pointer-events: none;
 -webkit-transition: all .5s ease-in-out;
 -moz-transition: all .5s ease-in-out;
 -o-transition: all .5s ease-in-out;
 transition: all .5s ease-in-out;
}
.modal-window:target {
 opacity: 1;
 pointer-events: auto;
}
.modal-form {
 width: 100%;
 height: 100%;
 padding: 1.6em;
 text-align: center;
 line-height: 1.5;
 overflow: auto;
 position: relative;
 background-color: #fff;
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: center;
 -ms-justify-content: center;
 -moz-justify-content: center;
 justify-content: center;
}
.leftright,
.rightleft {
 width: 3px;
 height: 25px;
 position: absolute;
 top: 25px;
 right: 30px;
 background-color: #000;
 border-radius: 3px;
 -webkit-transition: all .3s ease-in;
 -moz-transition: all .3s ease-in;
 -o-transition: all .3s ease-in;
 transition: all .3s ease-in;
}
.leftright {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}
.rightleft {
 -webkit-transform: rotate(-45deg);
 -moz-transform: rotate(-45deg);
 -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.modal-close-button:hover .leftright {
 background-color: #4285f4;
}
.modal-close-button:hover .rightleft {
 background-color: #4285f4;
}
.logo-form {
 margin: 55px auto 20px auto;
 width: 50px;
}
.modal-container {
-webkit-align-self: center;
-ms-align-self: center;
-moz-align-self: center;
 align-self: center;
}
.modal-title {
 margin-bottom: 10px;
}
.modal-text {
 margin-bottom: 20px;
 font-size: 13px;
}
.tel, .connect-select {
 text-align: left;
 margin-bottom: 10px;
}
.modal-element {
 display: block;
 padding-bottom: 10px;
 color: #7a7a7a;
 cursor: pointer;
 font-size: 12px;
}
.input-modal {
 max-width: 100%;
 width: 100%;
 border: 1px solid #818a91;
 vertical-align: middle;
 padding: 5px;
 color: #7a7a7a;
}
.input-modal:focus {
 outline: none;
 border: 1px solid #4285f4;
}

@media (min-width: 500px) {
h1 {
 font-size: 30px;
}
h2 {
 font-size: 22px;
}
h3 {
 font-size: 20px;
}
.container {
 max-width: 90%;
}
.main-container {
 max-width: 90%;
}
.logo-mobile {
 width: 60px;
}
.hidden-menu-tick:checked ~ .bg > .logo-mobile {
 left: 140px;
}
.hidden-menu-tick:checked ~ .bg > .logo-phone {
 display: block;
}
.btn {
 border-radius: 4px;
 font-size: 16px;
}
.main-text__primary {
 margin: 23px 0 50px 0;
 line-height: 34px;
}
.promotion {
 margin: 50px auto 0;
}
.promotion-item {
 padding: 30px;
}
.services {
 max-width: 100%;
}
.services-item {
 margin-top: 30px;
 width: 320px;
}
.services-item__body-title {
 padding: 30px 0 0 30px;
}
.services-item__body-text {
 padding: 0 20px 30px 30px;
}
.services-body__arrow {
 padding-left: 30px;
}
.quote__text {
 font-size: 18px;
 line-height: 34px;
}
.review-slider {
 max-width: 80%;
}
.review-body {
 padding: 25px 0px 32px 38px;
}
.body-text {
 font-size: 17px;
}
.link-politics {
 display: inline-block;
}
.link-politics + .link-politics::before {
 content: '|';
 padding: 0 7px;
 color: #fff;
}
.site-link, .link-info {
 font-size: 13px;
}
 }
@media (min-width: 600px) {
.logo-mobile {
 width: 64px;
}
.hidden-menu {
 left: -335px;
 width: 335px;
}
.hidden-menu a {
 font-size: 15px;
}
.hidden-menu-tick:checked ~ .btn-menu {
 left: 280px;
}
.hidden-menu-tick:checked ~ .logo-mobile {
 left: 240px;
}
.btn-primary {
 min-width: 270px;
}
.btn-promotion {
 min-width: 230px;
}
.promotion-item {
 position: relative;
}
.sum-promotion {
 position: absolute;
 top: 52px;
 right: 46px;
 margin: 0;
}
.toggle-on__text {
 font-size: 15px;
}
.toggle-on__text::before,
.toggle::before {
 font-size: 16px;
}
.services-item__body-text {
 font-size: 16px;
}
.review-slider {
 max-width: 70%;
}
.btn-work {
 min-width: 329px;  
}
.modal-form {
 width: 80%;
}
 }
@media (min-width: 700px) {
.promotion-item {
 max-width: 80%; 
}
.review-slider {
 max-width: 100%;
}
.body-text {
 font-size: 15px;
}
.messenger {
 display: none;
}
.site-link::before { 
 content: none; 
}
.link-info:first-of-type {
 margin-top: 0;
}
.link-politics:nth-child(3) {
 display: inline-block;
}
.footer-politics { 
 text-align: left;
}
.link-footer {
-ms-flex-direction: row;
-moz-flex-direction: row;
-webkit-flex-direction: row;
 flex-direction: row;
 padding: 46px 0;
}
.link-footer .footer-item {
-webkit-flex: 0 1 30%;
-ms-flex: 0 1 30%;
 flex: 0 1 30%; 
}
.link-footer .footer-item:nth-child(2) {
-webkit-flex: 0 1 20%;
-ms-flex: 0 1 20%;
 flex: 0 1 20%;
}
.link-footer .footer-item:last-child {
-webkit-flex: 0 1 49%;
-ms-flex: 0 1 49%;
 flex: 0 1 49%;
}
 }
@media (min-width: 800px) {
h1 { 
 font-size: 35px;
}
h2 { 
 font-size: 25px;
}
h3 { 
 font-size: 22px;
}
.main {
 margin-bottom: 50px;
}
.main-text__primary {
 font-size: 20px;
}
.promotion-item {
 max-width: 70%;
 padding: 40px;
}
.promotion__title {
 margin: 0 0 18px 0; 
 line-height: 44px;
}
.promotion__text-header {
 margin-bottom: 21px;
 font-size: 16px;
 line-height: 28px;
}
.promotion__text-footer {
 margin-top: 39px;
 font-size: 16px;
 line-height: 26px;
}
.sum-promotion {
 width: 95px;
 height: 95px;
 font-size: 18px;
}
.toggle-on {
 margin-top: 30px;
}
.toggle-on__text{
 font-size: 16px;
 line-height: 28px;
}
.toggle-on__text::before,
.toggle::before {
 font-size: 18px;
}
.services-block { 
-ms-flex-flow: row wrap;
-moz-flex-flow: row wrap;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
-ms-align-items: stretch;
-moz-align-items: stretch;
-webkit-align-items: stretch;
 align-items: stretch;
-ms-justify-content: space-around;
-moz-justify-content: space-around;
-webkit-justify-content: space-around;
 justify-content: space-around;
}
.services-item__body-title {
 font-size: 18px;
 padding: 41px 0 0 41px;
}
.services-item__body-text {
 padding: 0 20px 40px 41px;
 font-size: 18px;
}
.services-item__header-img {
 width: auto;
}
.services-body__arrow {
 padding-left: 41px;
}
.quote__img {
 padding-bottom: 40px;
}
.quote__text {
 font-size: 20px;
}
.body-text {
 font-size: 17px;
}
.work-text {
 font-size: 18px;
}
.link-footer .footer-item:nth-child(2) {
-webkit-flex: 0 1 25%;
-ms-flex: 0 1 25%;
 flex: 0 1 25%;
}
.modal-form {
 width: 50%;  
}
.logo-form {
 margin: 70px auto 30px auto;
 width: auto;
}
.modal-title {
 margin-bottom: 20px;
}
.modal-text {
 margin-bottom: 20px;
 font-size: 15px;
}
.input-modal {
 padding: 7px;
}
 }
@media (min-width: 900px) {
.btn {
 font-size: 18px;
}
.btn-arrow,
.arrow {
 width: auto; 
}
h1 { 
 font-size: 40px;
 line-height: 45px;
}
h2 { 
 font-size: 30px;
 line-height: 36px;
}
h3 { 
 font-size: 24px;
 line-height: 32px;
}
p {
 font-size: 18px;  
}
.menu-screen {
 display: block;
 margin-top: 20px;
}
.menu-mobile {
 display: none;
}
.container-header {
 max-width: 97%;
 margin: 0 auto;
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-justify-content: space-between;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
 justify-content: space-between;
}
.headhesive {
 box-shadow: none;
}
.headhesive--stick {
 padding: 5px 0;
 background-color: rgba(0,0,0,0.7);
}
.headhesive--stick .logo-img {
 width: 50px;
 margin: 7px 0 0 1px;
}
.headhesive--stick .menu-screen {
 margin-top: 0;
}
.headhesive--stick .nav,
.headhesive--stick .number,
.headhesive--stick .logo-title,
.headhesive--stick .btn-header {
 display: none;
}
.headhesive--stick .social {
 display: inline-block;
 float: right;
}
.social {
 display: none;
}
.social img {
 display: inline-block;
 width: 30px;
 height: auto;
 margin: 15px 12px 0 12px;
}
.logo {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
}
.logo-title {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-flex-direction: column;
-moz-flex-direction: column;
-webkit-flex-direction: column;
 flex-direction: column;
-ms-justify-content: center;
-moz-justify-content: center;
-webkit-justify-content: center;
 justify-content: center;
}
.logo-text {
 margin-left: 10px;
 font-size: 11px;
}
.logo-img {
 width: 70px;
-webkit-transition: 0.7s;
-moz-transition: 0.7s;
-o-transition: 0.7s;
-ms-transition: 0.7s;
 transition: 0.7s;
}
.nav {
-ms-align-self: center;
-moz-align-self: center;
-webkit-align-self: center;
 align-self: center;
 width: 450px;
}
.nav a {
 color: #8c8e8c;
}
.topmenu {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-justify-content: space-around;
-moz-justify-content: space-around;
-webkit-justify-content: space-around;
 justify-content: space-around;
}
.number {
-ms-align-self: center;
-moz-align-self: center;
-webkit-align-self: center;
 align-self: center;
 color: #000;
 font-size: 18px;
 position: relative;
 cursor: pointer;
}
.number__bold {
 font-weight: 900;
}
.number-icon {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-justify-content: space-evenly;
-moz-justify-content: space-evenly;
-webkit-justify-content: space-evenly;
 justify-content: space-evenly;
 position: absolute;
 left: 0;
 right: 0;
 opacity: 0;
 transition: all .5s linear;
}
.number-icon__img {
 width: 25px;
 height: auto;
}
.number:hover .number-icon {
 opacity: 1;
}
.topmenu > li {
 display: inline-block;
}
.submenu > li {
 display: inline-block;
 border-right: 1px solid #f8f8f8;
 padding: 7px 20px;
 margin: 20px 0;
}
.submenu > li:last-child  {
 border-right: none;
}
.topmenu > li > a {
 position: relative;
-webkit-transition: .3s ease-in-out;
-moz-transition: .3s ease-in-out;
-o-transition: .3s ease-in-out;
-ms-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}
.submenu > li > a {
 position: relative;
 font-size: 14px;
}
.submenu > li > a::before {
 content: "";
 position: absolute;
 width: 100%;
 height: 3px;
 bottom: 0;
 top: 30px;
 left: 0;
 background-color: #4285f4;
 visibility: hidden;
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
-webkit-transform: scaleX(0);
-ms-transform: scaleX(0);
-moz-transform: scaleX(0);
-o-transform: scaleX(0);
 transform: scaleX(0);
}
.submenu > li > a:hover::before {
 visibility: visible;
-webkit-transform: scaleX(1);
-moz-transform: scaleX(1);
-o-transform: scaleX(1);
-ms-transform: scaleX(1);
 transform: scaleX(1);
}
.topmenu > li > a:hover, 
.submenu > li > a:hover {
 color: #8fd3f4;
}
.submenu {
 z-index: 4;
 position: absolute;
 top: 85px;
 left: 0;
 right: 0;
 width: 100%;
 text-align: center;
 opacity: 0;
 visibility: hidden;
 -ms-transform: translate3d(0,30px,0);
 -o-transform: translate3d(0,30px,0);
 -moz-transform: translate3d(0,30px,0);
 -webkit-transform: translate3d(0,30px,0);
 transform: translate3d(0,30px,0);
-webkit-transition: .5s ease-out;
-moz-transition: .5s ease-out;
-o-transition: .5s ease-out;
-ms-transition: .5s ease-out;
 transition: .5s ease-out;
 transform-origin: 0% 0%;
-webkit-box-shadow: 0px 10px 21px -9px rgba(229,229,229,1);
-moz-box-shadow: 0px 10px 21px -9px rgba(229,229,229,1);
 box-shadow: 0px 10px 21px -9px rgba(229,229,229,1);
 background-color: rgba(255,255,255,0.99);
 border-top: none;
}
.sub-top {
 top: 74px;
}
.submenu-tick {
 display: none;
}
.arrow-down-screen::before {
 content: "\f107";
 font-family: "FontAwesome";
 margin-left: 7px;
 float: right;
 color: #8fd3f4;
 font-weight: 900;
 cursor: pointer;
}
.submenu-tick:checked ~ .submenu-link-color {
 color: #50a2de;
 font-size: 20px;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
 transition: all .2s linear;
}
.submenu-tick:checked + .arrow-down-screen::before {
 content: "\f106";
 font-family: "FontAwesome";
}
.submenu-tick:checked ~ .submenu {
 opacity: 1;
 visibility: visible;
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
 transform: translate3d(0,0,0);
}
.topmenu .disabled {
 color: #8fd3f4;
 cursor:default;
}
.main-text__header {
 padding-top: 76px;
}
.main-text__primary {
 font-size: 22px; 
}
.promotion-item {
 max-width: 585px;
 padding: 48px 30px 27px 40px;
}
.promotion__text-header {
 font-size: 18px;
}
.promotion__text-footer {
 font-size: 18px;
}
.toggle-on__text{
 font-size: 18px;
}
.toggle-on__text::before,
.toggle::before {
 font-size: 20px;
}
.services-item__body-text {
 padding: 0 20px 60px 41px;
}
.services-body__arrow {
 margin-bottom: 36px;
}
.quote {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-flex-direction: column;
-moz-flex-direction: column;
-webkit-flex-direction: column;
 flex-direction: column;
-ms-align-items: center;
-moz-align-items: center;
-webkit-align-items: center;
 align-items: center;
}
.quote__text {
 font-size: 22px;
 max-width: 650px;
}
.link-footer .footer-item {
-webkit-flex: 0 1 40%;
-ms-flex: 0 1 40%;
 flex: 0 1 40%; 
}
.link-footer .footer-item:nth-child(2) {
-webkit-flex: 0 1 35%;
-ms-flex: 0 1 35%;
 flex: 0 1 35%;
}
.link-footer .footer-item:last-child {
-webkit-flex: 0 1 45%;
-ms-flex: 0 1 45%;
 flex: 0 1 45%;
}
.modal-form {
 width: 400px;
}
 }
@media (min-width: 1000px) {
.logo-text {
 font-size: 12px;
}
.number {
 font-size: 20px;
}
.btn-primary {
 margin-bottom: 90px;
}
.main {
 margin-bottom: 0;
}
.main-border {
 display: none;
}
.wrapper {
 background-image: url(../../img/Main/main.jpg);
 background-repeat: no-repeat;
 background-size: 1100px;
 background-position: 0px 10px;
}
.main-text__header {
 margin-bottom: 40px;
}
.main-text__primary {
 margin: 0 0 40px 0;
}
.services-title {
 padding-bottom: 73px;
}
.services-item {
 margin-top: 0;
}
.btn-link {
 display: block;
 margin: 48px 0 38px 0;
}
.review-item:nth-child(n+4) {
 display: none;
}
.review-slider {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 -moz-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-justify-content: center;
 -moz-justify-content: center;
 -ms-justify-content: center;
 justify-content: center;
}
.review-item {
 width: 370px;
 margin: 20px;
}
.review-block {
 overflow: hidden;
 width: 100%;
 background-color: #000;
 color: #fff;
}
.review-img {
 opacity: 1;
 -webkit-transition: opacity 0.35s;
 -moz-transition: opacity 0.35s;
 -o-transition: opacity 0.35s;
 -ms-transition: opacity 0.35s;
 transition: opacity 0.35s;
}
.review-block .review-body {
 background-color: transparent;
 position: absolute;
 bottom: 0;
 left: 0;
 padding: 25px 0 30px 50px;
 width: 100%;
 height: 100%;
}
.review-block .review-body::before {
 content: '';
 position: absolute;
 top: 30px;
 right: 30px;
 bottom: 20px;
 left: 100%;
 border-left: 4px solid rgba(255, 255, 255, 0.8);
 opacity: 0;
 background-color: rgba(255, 255, 255, 0.6);
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 -ms-transition: all 0.5s;
 transition: all 0.5s;
 -webkit-transition-delay: 0.6s;
 -moz-transition-delay: 0.6s;
 -o-transition-delay: 0.6s;
 transition-delay: 0.6s;
}
.body-title,
.body-text {
 opacity: 0;
 -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
 transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
.body-title {
 display: block;
 font-size: 20px;
 margin-bottom: 10px;
 -ms-transform: translate3d(30%, 0%, 0);
 -o-transform: translate3d(30%, 0%, 0);
 -moz-transform: translate3d(30%, 0%, 0);
 -webkit-transform: translate3d(30%, 0%, 0);
 transform: translate3d(30%, 0%, 0);
 -webkit-transition-delay: 0.3s;
 -moz-transition-delay: 0.3s;
 -o-transition-delay: 0.3s;
 -ms-transition-delay: 0.3s;
 transition-delay: 0.3s;
}
.body-text {
 font-size: 18px;
 color: #fff;
 -ms-transform: translate3d(0%, 30%, 0);
 -o-transform: translate3d(0%, 30%, 0);
 -moz-transform: translate3d(0%, 30%, 0);
 -webkit-transform: translate3d(0%, 30%, 0);
 transform: translate3d(0%, 30%, 0);
 -moz-transition-delay: 0s;
 -o-transition-delay: 0s;
 -webkit-transition-delay: 0s;
 -ms-transition-delay: 0s;
 transition-delay: 0s;
}
.review-block:hover .review-img {
 opacity: 0.2;
}
.review-block:hover .body-title {
 opacity: 1;
 -ms-transform: translate3d(0%, 0%, 0);
 -o-transform: translate3d(0%, 0%, 0);
 -moz-transform: translate3d(0%, 0%, 0);
 -webkit-transform: translate3d(0%, 0%, 0);
 transform: translate3d(0%, 0%, 0);
 -moz-transition-delay: 0.4s;
 -o-transition-delay: 0.4s;
 -ms-transition-delay: 0.4s;
 -webkit-transition-delay: 0.4s;
 transition-delay: 0.4s;
}
.review-block:hover .body-text {
 opacity: 0.8;
 -ms-transform: translate3d(0%, 0%, 0);
 -o-transform: translate3d(0%, 0%, 0);
 -moz-transform: translate3d(0%, 0%, 0);
 -webkit-transform: translate3d(0%, 0%, 0);
 transform: translate3d(0%, 0%, 0);
 -webkit-transition-delay: 0.6s;
 -moz-transition-delay: 0.6s;
 -o-transition-delay: 0.6s;
 -ms-transition-delay: 0.6s;
 transition-delay: 0.6s;
}
.review-block:hover .review-body::before {
 background-color: rgba(255, 255, 255, 0);
 left: 30px;
 opacity: 1;
 -moz-transition-delay: 0s;
 -o-transition-delay: 0s;
 -webkit-transition-delay: 0s;
 -ms-transition-delay: 0s;
 transition-delay: 0s;
}
.work {
 padding: 76px 0 50px 0;
}
.work-text {
 line-height: 31px;
}
.btn-work {
 margin-bottom: 0px;
}
.primary-footer {
 background-color: #fcfcfc;
}
.footer-politics {
 background-color: #0086fa;
 border-top: none; 
 font-size: 14px;
 height: 102px;
 padding: 44px 0 44px 0px;
}
.site-link, .link-info {
 color: #000;
 font-size: 16px;
}
.site-link[data-color],
.link-info[data-color] {
 color: #50a2de;
}
.link-info:nth-child(3)::before {
 color: #50a2de;
}
.link-info::before {
 font-size: 15px;
}
.link-footer .footer-item { 
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-flow: column;
 -moz-flex-flow: column;
 -ms-flex-flow: column;
 flex-flow: column;
 -webkit-align-items: flex-start;
 -moz-align-items: flex-start;
 -ms-align-items: flex-start;
 align-items: flex-start;
}
.link-footer .footer-item:last-child {
-webkit-flex: 0 1 50%;
-ms-flex: 0 1 50%;
 flex: 0 1 50%;
}
.link-info {
 padding: 8px 0;
}
.link-politics {
 margin: 0;
}
.link-politics:first-child {
 margin-left: 1rem;
}
.site-link { 
 display: inline-block;
 padding: 0.6rem 1.25rem;
 position: relative;
-webkit-transition: all .3s cubic-bezier(.2, 0, 0, 1);
-moz-transition: all .3s cubic-bezier(.2, 0, 0, 1);
-o-transition: all .3s cubic-bezier(.2, 0, 0, 1);
 transition: all .3s cubic-bezier(.2, 0, 0, 1);
 z-index: 1;
 cursor: pointer;
}
.site-link::after {
 content: '';
 position: absolute;
 bottom: 0;
 display:block;
 height: 1px;
 z-index: -1;
 background-color: #8fd3f4;
 right: 1.25rem;
 left: 1.25rem;
-webkit-transition: all .3s cubic-bezier(.2, 0, 0, 1);
-moz-transition: all .3s cubic-bezier(.2, 0, 0, 1);
-o-transition: all .3s cubic-bezier(.2, 0, 0, 1);
 transition: all .3s cubic-bezier(.2, 0, 0, 1);
-webkit-transform-origin: bottom center;
-moz-transform-origin: bottom center;
-o-transform-origin: bottom center;
 transform-origin: bottom center;
}
.site-link:hover {
 color: #fff;
}
.site-link:hover::after {
 right: 0;
 left: 0;
 height: 100%;
}
 }
@media (min-width: 1100px) {
.logo-img {
 width: 80px;
}
.logo-text {
 font-size: 16px;
}
.wrapper {
 background-size: 1300px;
 background-position: 0px 30px;
}
.main {
 padding-bottom: 100px;
}
.main-text__header {
 margin: 0 0 40px 0;
 padding-top: 100px;
}
.main-text__primary {
 font-size: 24px; 
}
.request {
 padding: 94px 0 101px 0;
}
.promotion {
 margin: 75px auto 0;
}
.services {
 padding: 94px 0 98px 0;
}
.services-block {
-ms-justify-content: space-between;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
 justify-content: space-between;
}
.quote {
 padding: 97px 0 75px 0;
}
.quote__img {
 width: auto;
}
.quote__text {
 font-size: 24px;
}
.quote-review {
 padding: 5px 0 55px;
}
.btn-link {
 margin: 56px 0 38px 0;
}
.work {
 padding: 80px 0 80px 0;
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
}
.work-img {
 display: block;
}
.work-block {
 display: -ms-flex;
 display: -moz-flex;
 display: -webkit-flex;
 display: flex;
-ms-flex-flow: row wrap;
-moz-flex-flow: row wrap;
-webkit-flex-flow: row wrap;
 flex-flow: row wrap;
-ms-align-self: center;
-moz-align-self: center;
-webkit-align-self: center;
 align-self: center;
 flex-basis: 650px;
}
.work-title {
 width: 100%;
}
.work-text {
 flex-basis: 550px;
}
 }
@media (min-width: 1200px) {
.wrapper {
 background-position: 0px 50px;
}
.promotion {
-webkit-flex-flow: row wrap;
-moz-flex-flow: row wrap;
-ms-flex-flow: row wrap;
 flex-flow: row wrap;
-webkit-justify-content: space-between;
-moz-justify-content: space-between;
-ms-justify-content: space-between;
 justify-content: space-between;
-webkit-align-items: stretch;
-moz-align-items: stretch;
-ms-align-items: stretch;
 align-items: stretch;
 max-width: 1200px;
}
.promotion-item {
 margin-bottom: 0;
}
.services {
 max-width: 1200px;
}
.work {
 max-width: 1120px;
-ms-justify-content: space-between;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
 justify-content: space-between;
}
 }
@media (min-width: 1280px) {
.wrapper {
 padding-bottom: 140px;
 background-size: 1400px;
 background-position: -100px 60px;
}
.container-header {
 max-width: 1190px;
}
.container {
 max-width: 1150px;
}
.main-container {
 max-width: 1120px;
}
.main {
 padding-bottom: 0px;
}
.review-slider {
 -webkit-justify-content: space-between;
 -moz-justify-content: space-between;
 -ms-justify-content: space-between;
 justify-content: space-between;
}
.review-item {
 margin: 0px;
}
 }
@media (min-width: 1300px) {
.wrapper {
 padding-bottom: 150px;
 background-size: 1400px;
 background-position: 0px 60px;
}
.logo-form {
 margin: 0 auto 40px auto;
}
.modal-title {
 margin-bottom: 25px;
 font-size: 24px;
}
.modal-text {
 margin-bottom: 25px;
 font-size: 18px;
}
.tel, .connect-select {
 margin-bottom: 15px;
}
.modal-element {
 padding-bottom: 15px;
 font-size: 14px;
}
.input-modal {
 padding: 9px;
}
.btn-modal {
 margin: 30px auto 0 auto;
}
 }
@media (min-width: 1400px) {
.wrapper {
 padding-bottom: 160px;
 background-size: 1500px;
 background-position: 0px 40px;
}
 }
@media (min-width: 1500px) {
.wrapper {
 padding-bottom: 170px;
 background-size: 1600px;
 background-position: 0px 0px;
}
 }
@media (min-width: 1600px) {
.wrapper {
 padding-bottom: 200px;
 background-size: 1700px;
}
@media (min-width: 1700px) {
.wrapper {
 padding-bottom: 220px;
 background-size: 1800px;
 background-position: 0px -30px;
}
 }
 @media (min-width: 1800px) {
.wrapper {
 padding-bottom: 230px;
 background-size: 1900px;
 background-position: 0px -60px;
}
 }
 @media (min-width: 1900px) {
.wrapper {
 max-width: 1920px;
 margin: 0 auto;
 padding-bottom: 240px;
 background-size: 1920px;
}
 }